{% extends 'base.html' %}
{% block content %}

<p><a href="{% url 'main:show_main' %}"><button>← Back to Products List</button></a></p>

<h1>{{ products.name }}</h1>

<p>
  <b>Kategori:</b> {{ products.category }} 
  {% if products.is_featured %} | <b>Featured</b>{% endif %}
  | <b>Views:</b> {{ products.products_views }}
  | <b>Price:</b> Rp {{ products.price }}
</p>

{% if products.thumbnail %}
  <img src="{{ products.thumbnail }}" alt="Products thumbnail" width="300">
  <br /><br />
{% endif %}

<p>{{ products.description }}</p>

{% if products.user %}
  <p><b>Author:</b> {{ products.user.username }}</p>
{% else %}
  <p><b>Author:</b> Anonymous</p>
{% endif %}

{% endblock content %}